In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("population_csv.csv", index_col=0)

In [6]:
df.head()

   insee  year  population    pct_ch  steps
0  78561  1962       224.0  1.166667      1
1  78561  1968       198.0  0.883929      2
2  78561  1975       371.0  1.873737      3
3  78561  1982       376.0  1.013477      4
4  78561  1990       382.0  1.015957      5

In [7]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,2114,2115,2116,2117,2118,2119,2120,2121,2122,2123
insee,78561.000000,78561.000000,78561.000000,78561.000000,78561.000000,78561.000000,78561.000000,78561.000000,78561.000000,91338.000000,...,77241.000000,77525.000000,77525.000000,77525.000000,77525.000000,77525.000000,77525.000000,77525.000000,77525.000000,77525.000000
year,1962.000000,1968.000000,1975.000000,1982.000000,1990.000000,1999.000000,2006.000000,2012.000000,2017.000000,1962.000000,...,2017.000000,1962.000000,1968.000000,1975.000000,1982.000000,1990.000000,1999.000000,2006.000000,2012.000000,2017.000000
population,224.000000,198.000000,371.000000,376.000000,382.000000,379.000000,375.000000,440.000000,452.000000,1965.000000,...,1963.000000,181.000000,201.000000,179.000000,194.000000,247.000000,287.000000,328.000000,363.000000,379.000000
pct_ch,1.166667,0.883929,1.873737,1.013477,1.015957,0.992147,0.989446,1.173333,1.027273,1.161348,...,0.890249,0.815315,1.110497,0.890547,1.083799,1.273196,1.161943,1.142857,1.106707,1.044077
steps,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000,1.000000,...,9.000000,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000

In [24]:
years = list(df.year.unique())

In [25]:
new_df = pd.DataFrame(columns = [years + ["insee"]])

In [26]:
new_df.head()

Empty DataFrame
Columns: [(1962,), (1968,), (1975,), (1982,), (1990,), (1999,), (2006,), (2012,), (2017,), (insee,)]
Index: []

In [17]:
import numpy as np

In [20]:
len(df.insee)

2124

In [22]:
len(df.year)

2124

In [27]:
np.zeros((2124,9))

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [47]:
new_df = pd.DataFrame(data=np.zeros((2124,10)),columns = [years + ["insee"]])

In [48]:
new_df.head()

  1962 1968 1975 1982 1990 1999 2006 2012 2017 insee
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0
1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0

In [41]:
new_df["insee"] = df.insee.values

In [42]:
new_df.head()

   insee
0  78561
1  78561
2  78561
3  78561
4  78561

In [46]:
df[df.year==2006]

      insee  year  population    pct_ch  steps
6     78561  2006       375.0  0.989446      7
15    91338  2006      6283.0  0.970947      7
24    91122  2006      9713.0  1.003720      7
33    78343  2006      1453.0  1.003453      7
42    91679  2006      1156.0  1.058608      7
...     ...   ...         ...       ...    ...
2085  77062  2006       427.0  0.981609      7
2094  77332  2006       267.0  1.007547      7
2103  77292  2006      1058.0  1.255042      7
2112  77241  2006      1699.0  1.174153      7
2121  77525  2006       328.0  1.142857      7

[236 rows x 5 columns]

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2124 entries, 0 to 2123
Data columns (total 5 columns):
insee         2124 non-null int64
year          2124 non-null int64
population    2124 non-null float64
pct_ch        2124 non-null float64
steps         2124 non-null int64
dtypes: float64(2), int64(3)
memory usage: 179.6 KB

In [49]:
new_df.head(1)

  1962 1968 1975 1982 1990 1999 2006 2012 2017 insee
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0

In [ ]:
for y in df.insee:
    new_df.append([])

In [53]:
df.year.min()

1962

In [54]:
df.year.max()

2017