# Creation de la base finale pour JS

Votes et abstention

In [1]:
import pandas as pd
import geopandas as gpd
import os 
import matplotlib.pyplot as plt

In [2]:
dir=os.getcwd()

Densite de population

In [3]:
dens=pd.read_csv(dir+'\\brut\\metropole-densites-de-population-par-commune.csv',sep=';')
dens=dens.rename(columns={'Code INSEE':'insee',"Densité d'habitants (hab/km2)" : 'densitehabkm2'})
dens=dens[['insee','densitehabkm2']]

In [4]:
dens.insee=dens.insee.astype(int)
dens.dtypes

insee              int32
densitehabkm2    float64
dtype: object

In [5]:
A=dens.sort_values('insee').sort_values('insee')

In [6]:
list(A.insee)

[77001,
 77002,
 77003,
 77004,
 77005,
 77006,
 77007,
 77008,
 77009,
 77010,
 77011,
 77012,
 77013,
 77014,
 77015,
 77016,
 77018,
 77019,
 77020,
 77021,
 77022,
 77023,
 77024,
 77025,
 77026,
 77027,
 77028,
 77029,
 77030,
 77031,
 77032,
 77033,
 77034,
 77035,
 77036,
 77037,
 77038,
 77039,
 77040,
 77041,
 77042,
 77043,
 77044,
 77045,
 77046,
 77047,
 77048,
 77049,
 77050,
 77051,
 77052,
 77053,
 77054,
 77055,
 77056,
 77057,
 77058,
 77059,
 77060,
 77061,
 77062,
 77063,
 77065,
 77066,
 77067,
 77068,
 77069,
 77070,
 77071,
 77072,
 77073,
 77075,
 77076,
 77077,
 77078,
 77079,
 77080,
 77081,
 77082,
 77083,
 77084,
 77085,
 77086,
 77087,
 77088,
 77089,
 77090,
 77091,
 77093,
 77094,
 77095,
 77096,
 77097,
 77098,
 77099,
 77100,
 77101,
 77102,
 77103,
 77104,
 77106,
 77107,
 77108,
 77109,
 77110,
 77111,
 77112,
 77113,
 77114,
 77115,
 77116,
 77117,
 77118,
 77119,
 77120,
 77121,
 77122,
 77123,
 77124,
 77125,
 77126,
 77127,
 77128,
 77129,
 77130,
 77131,
 77132,
 77133,
 77134,
 77135,
 77136,
 77137,
 77138,
 77139,
 77140,
 77141,
 77142,
 77143,
 77144,
 77145,
 77146,
 77147,
 77148,
 77149,
 77150,
 77151,
 77152,
 77153,
 77154,
 77155,
 77156,
 77157,
 77158,
 77159,
 77161,
 77162,
 77163,
 77164,
 77165,
 77167,
 77168,
 77169,
 77171,
 77172,
 77173,
 77174,
 77175,
 77176,
 77177,
 77178,
 77179,
 77180,
 77181,
 77182,
 77183,
 77184,
 77185,
 77186,
 77187,
 77188,
 77190,
 77191,
 77192,
 77193,
 77194,
 77195,
 77196,
 77197,
 77198,
 77199,
 77200,
 77201,
 77202,
 77203,
 77204,
 77205,
 77206,
 77207,
 77208,
 77209,
 77210,
 77211,
 77212,
 77214,
 77215,
 77216,
 77217,
 77218,
 77219,
 77220,
 77221,
 77222,
 77223,
 77224,
 77225,
 77226,
 77227,
 77228,
 77229,
 77230,
 77231,
 77232,
 77233,
 77234,
 77235,
 77236,
 77237,
 77238,
 77239,
 77240,
 77241,
 77242,
 77243,
 77244,
 77245,
 77246,
 77247,
 77248,
 77249,
 77250,
 77251,
 77252,
 77253,
 77254,
 77255,
 77256,
 77257,
 77258,
 77259,
 77260,
 77261,
 77262,
 77263,
 77264,
 77265,
 77266,
 77267,
 77268,
 77269,
 77270,
 77271,
 77272,
 77273,
 77274,
 77275,
 77276,
 77277,
 77278,
 77279,
 77280,
 77281,
 77282,
 77283,
 77284,
 77285,
 77286,
 77287,
 77288,
 77289,
 77290,
 77291,
 77292,
 77293,
 77294,
 77295,
 77296,
 77297,
 77298,
 77300,
 77301,
 77302,
 77303,
 77304,
 77305,
 77306,
 77307,
 77308,
 77309,
 77310,
 77311,
 77312,
 77313,
 77314,
 77315,
 77316,
 77317,
 77318,
 77319,
 77320,
 77321,
 77322,
 77323,
 77325,
 77326,
 77327,
 77328,
 77329,
 77330,
 77331,
 77332,
 77333,
 77335,
 77336,
 77337,
 77338,
 77339,
 77340,
 77341,
 77342,
 77343,
 77344,
 77345,
 77347,
 77348,
 77349,
 77350,
 77352,
 77353,
 77354,
 77355,
 77356,
 77357,
 77358,
 77359,
 77360,
 77361,
 77363,
 77364,
 77365,
 77366,
 77367,
 77368,
 77369,
 77370,
 77371,
 77372,
 77373,
 77374,
 77376,
 77377,
 77378,
 77379,
 77380,
 77381,
 77382,
 77383,
 77384,
 77385,
 77386,
 77387,
 77388,
 77389,
 77390,
 77391,
 77392,
 77393,
 77394,
 77395,
 77396,
 77397,
 77398,
 77399,
 77400,
 77401,
 77402,
 77403,
 77404,
 77405,
 77406,
 77407,
 77408,
 77409,
 77410,
 77411,
 77412,
 77413,
 77414,
 77415,
 77416,
 77417,
 77418,
 77419,
 77420,
 77421,
 77423,
 77424,
 77425,
 77426,
 77427,
 77428,
 77429,
 77430,
 77431,
 77432,
 77433,
 77434,
 77435,
 77436,
 77437,
 77438,
 77439,
 77440,
 77441,
 77442,
 77443,
 77444,
 77445,
 77446,
 77447,
 77448,
 77449,
 77450,
 77451,
 77452,
 77453,
 77454,
 77455,
 77456,
 77457,
 77458,
 77459,
 77460,
 77461,
 77462,
 77463,
 77464,
 77465,
 77466,
 77467,
 77468,
 77469,
 77470,
 77471,
 77472,
 77473,
 77474,
 77475,
 77476,
 77477,
 77478,
 77479,
 77480,
 77481,
 77482,
 77483,
 77484,
 77485,
 77486,
 77487,
 77489,
 77490,
 77491,
 77492,
 77493,
 77494,
 77495,
 77496,
 77498,
 77500,
 77501,
 77504,
 77505,
 77506,
 77507,
 77508,
 77509,
 77510,
 77511,
 77512,
 77513,
 77514,
 77515,
 77516,
 77517,
 77518,
 77519,
 77520,
 77521,
 77522,
 77523,
 77524,
 77525,
 77526,
 77527,
 77528,
 77529,
 77530,
 77531,
 77532,
 77533,
 77534,
 78003,
 78005,
 78006,
 78007,
 78009,
 78010,
 78013,
 78015,
 78020,
 78029,
 78030,
 78031,
 78033,
 78034,
 78036,
 78043,
 78048,
 78049,
 78050,
 78053,
 78057,
 78062,
 78068,
 78070,
 78071,
 78072,
 78073,
 78076,
 78077,
 78082,
 78084,
 78087,
 78089,
 78090,
 78092,
 78096,
 78104,
 78107,
 78108,
 78113,
 78117,
 78118,
 78120,
 78123,
 78124,
 78125,
 78126,
 78128,
 78133,
 78138,
 78140,
 78143,
 78146,
 78147,
 78152,
 78158,
 78160,
 78162,
 78163,
 78164,
 78165,
 78168,
 78171,
 78172,
 78185,
 78188,
 78189,
 78190,
 78192,
 78193,
 78194,
 78196,
 78202,
 78206,
 78208,
 78209,
 78217,
 78220,
 78224,
 78227,
 78230,
 78231,
 78233,
 78234,
 78236,
 78237,
 78238,
 78239,
 78242,
 78245,
 78246,
 78251,
 78255,
 78261,
 78262,
 78263,
 78264,
 78265,
 78267,
 78269,
 78276,
 78278,
 78281,
 78283,
 78285,
 78289,
 78290,
 78291,
 78296,
 78297,
 78299,
 78300,
 78302,
 78305,
 78307,
 78310,
 78311,
 78314,
 78317,
 78320,
 78321,
 78322,
 78324,
 78325,
 78327,
 78329,
 78334,
 78335,
 78337,
 78343,
 78344,
 78346,
 78349,
 78350,
 78354,
 78356,
 78358,
 78361,
 78362,
 78364,
 78366,
 78367,
 78368,
 78372,
 78380,
 78381,
 78382,
 78383,
 78384,
 78385,
 78389,
 78391,
 78396,
 78397,
 78398,
 78401,
 78402,
 78403,
 78404,
 78406,
 78407,
 78410,
 78413,
 78415,
 78416,
 78417,
 78418,
 78420,
 78423,
 78431,
 78437,
 78439,
 78440,
 78442,
 78443,
 78444,
 78451,
 78455,
 78460,
 78464,
 78465,
 78466,
 78470,
 78472,
 78474,
 78475,
 78478,
 78481,
 78484,
 78486,
 78490,
 78497,
 78498,
 78499,
 78501,
 78502,
 78503,
 78505,
 78506,
 78513,
 78516,
 78517,
 78518,
 78520,
 78522,
 78524,
 78528,
 78530,
 78531,
 78536,
 78537,
 78545,
 78548,
 78550,
 78551,
 78557,
 78558,
 78559,
 78561,
 78562,
 78564,
 78565,
 78567,
 78569,
 78571,
 78575,
 78576,
 78586,
 78588,
 78590,
 78591,
 78597,
 78601,
 78605,
 78606,
 78608,
 78609,
 78615,
 78616,
 78618,
 78620,
 78621,
 78623,
 78624,
 78638,
 78640,
 78642,
 78643,
 78644,
 78646,
 78647,
 78650,
 78653,
 78655,
 78668,
 78672,
 78674,
 78677,
 78681,
 78683,
 78686,
 78688,
 91001,
 91016,
 91017,
 91021,
 91022,
 91027,
 91035,
 91037,
 91038,
 91041,
 91044,
 91045,
 91047,
 91064,
 91067,
 91069,
 91075,
 91079,
 91080,
 91081,
 91085,
 91086,
 91093,
 91095,
 91097,
 91098,
 91099,
 91100,
 91103,
 91105,
 91106,
 91109,
 91111,
 91112,
 91114,
 91115,
 91121,
 91122,
 91129,
 91130,
 91131,
 91132,
 91135,
 91136,
 91137,
 91145,
 91148,
 91156,
 91159,
 91161,
 91174,
 91175,
 91179,
 91180,
 91182,
 91184,
 91186,
 91191,
 91195,
 91198,
 91200,
 91201,
 91204,
 91207,
 91215,
 91216,
 91222,
 91223,
 91225,
 91226,
 91228,
 91232,
 91235,
 91240,
 91243,
 91244,
 91247,
 91248,
 91249,
 91272,
 91273,
 91274,
 91275,
 91284,
 91286,
 91292,
 91293,
 91294,
 91312,
 91315,
 91318,
 91319,
 91326,
 91330,
 91332,
 91333,
 91338,
 91339,
 91340,
 91345,
 91347,
 91359,
 91363,
 91374,
 91376,
 91377,
 91378,
 91386,
 91390,
 91393,
 91399,
 91405,
 91408,
 91411,
 91412,
 91414,
 91421,
 91425,
 91432,
 91433,
 91434,
 91435,
 91441,
 91457,
 91458,
 91461,
 91463,
 91468,
 91469,
 91471,
 91473,
 91477,
 91479,
 91482,
 91494,
 91495,
 91507,
 91508,
 91511,
 91514,
 91519,
 91521,
 91525,
 91526,
 91533,
 91534,
 91538,
 91540,
 91544,
 91546,
 91547,
 91549,
 91552,
 91553,
 91556,
 91560,
 91568,
 91570,
 91573,
 91577,
 91578,
 91579,
 91581,
 91587,
 91589,
 91593,
 91599,
 91600,
 91602,
 91613,
 91617,
 91619,
 91629,
 91630,
 91631,
 91634,
 91635,
 91639,
 91645,
 91648,
 91649,
 91654,
 91657,
 91659,
 91661,
 91662,
 91665,
 91666,
 91667,
 91671,
 91679,
 91685,
 91687,
 91689,
 91691,
 91692,
 92002,
 92004,
 92007,
 92009,
 92012,
 92014,
 92019,
 92020,
 92022,
 92023,
 92024,
 92025,
 92026,
 92032,
 92033,
 92035,
 92036,
 92040,
 92044,
 92046,
 92047,
 92048,
 92049,
 92050,
 92051,
 92060,
 92062,
 92063,
 92064,
 92071,
 92072,
 ...]

Niveau de vie et taux de pauvreté

In [7]:
com=pd.read_csv(dir+'\\brut\\base-comparateur-de-territoires.csv',sep=';')
com=com.rename(columns={'CODGEO':'insee','MED16':'medianendv','TP6016':'tp'})
com=com[['insee','tp','medianendv']]

In [8]:
com.insee=com.insee.astype(int)
com.dtypes

insee           int32
tp            float64
medianendv    float64
dtype: object

In [9]:
com.head() # tp on a pas pour tout

   insee    tp    medianendv
0  77006   NaN  26092.333333
1  77014  14.0  22116.500000
2  77018   8.0  24604.000000
3  77024   NaN  22022.222222
4  77038   NaN  29417.500000

In [10]:
len(com.insee.unique())

1287

Pollution

In [11]:
pol=pd.read_csv(dir+'\\brut\\indices_QA_commune_IDF_2017.csv',sep=',')

pol=pol.groupby('ninsee',as_index=False).mean()

pol=pol.rename(columns={'ninsee':'insee'})

In [12]:
pol.insee=pol.insee.astype(int)

In [13]:
pol.dtypes

insee      int32
no2      float64
o3       float64
pm10     float64
dtype: object

Diplomes

In [14]:
dipl = pd.read_csv(dir+'\\brut\\base-cc-diplomes-formation-2016.csv',sep=';')

C:\Users\morga\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
dipl=dipl[['CODGEO','P16_NSCOL15P','P16_NSCOL15P_SUP']]

dipl=dipl.rename(columns={'P16_NSCOL15P':'nb_nscol','P16_NSCOL15P_SUP':'dipl_sup','CODGEO':'insee'})

dipl=dipl.assign(dipl_su_tx=dipl.dipl_sup/dipl.nb_nscol)

dipl=dipl[['insee','dipl_su_tx']]

In [16]:
dipl.dtypes

insee          object
dipl_su_tx    float64
dtype: object

In [17]:
import numpy as np

In [18]:
dipl=dipl[pd.to_numeric(dipl['insee'], errors='coerce').notnull()]

In [19]:
dipl.insee=dipl.insee.astype(int)

Prix au mètre carré

In [20]:
prix=pd.read_csv(dir+'\\brut\\prixm2-communes-2017.csv',sep=',')

prix=prix[['INSEE_COM','Prixm2']]

prix=prix.rename(columns={'INSEE_COM':'insee','Prixm2':'prixm2'})

In [21]:
prix.dtypes

insee      object
prixm2    float64
dtype: object

In [22]:
prix=prix[pd.to_numeric(prix['insee'], errors='coerce').notnull()]
prix.insee=prix.insee.astype(int)

In [23]:
prix.dtypes

insee       int32
prixm2    float64
dtype: object

Impôt sur la fortune

In [24]:
isf=pd.read_excel(dir+'\\brut\\ificom2018.xlsx',headers=True,sheet_name='définitif impot')

isf=isf[['Code commune (INSEE)','nombre de redevables','patrimoine moyen en €','impôt moyen en €']]

isf.columns=['insee','nb_redevables','patrimoineeuro','impotmoyeneuro']

In [25]:
isf.dtypes

insee              object
nb_redevables       int64
patrimoineeuro    float64
impotmoyeneuro    float64
dtype: object

In [26]:
isf['insee']= isf['insee'].transform(lambda x : x.replace(' ',''))

In [27]:
isf=isf[pd.to_numeric(isf['insee'], errors='coerce').notnull()]
isf.insee=isf.insee.astype(int)

In [28]:
isf.dtypes

insee               int32
nb_redevables       int64
patrimoineeuro    float64
impotmoyeneuro    float64
dtype: object

In [29]:
#Base Sarah 
eco=pd.read_csv(dir+'\\brut\\data_chom_prop.csv')
eco.head()

   Unnamed: 0  insee  TauxProprietaires  TauxChomage  NiveauVieMedian
0       29274  75056          33.097629    12.070128          26808.0
1       29983  77001          89.804772     7.377049          28596.0
2       29984  77002          82.445141     8.505155          22877.0
3       29985  77003          83.448276     5.238095          25606.0
4       29986  77004          90.082645     4.794521          26871.0

In [30]:
eco=eco.drop(columns=['Unnamed: 0'])
eco=eco.rename(columns={'CODGEO':'insee'})

In [31]:
eco.dtypes

insee                  int64
TauxProprietaires    float64
TauxChomage          float64
NiveauVieMedian      float64
dtype: object

Votes

In [32]:
#vote =pd.read_csv(dir+'\\brut\\data_final_vote.csv')
#vote=vote[['CODGEO','Tour1Candidat1']]

In [33]:
#vote=vote.rename(columns={'CODGEO':'insee'})

In [34]:
# Vote à la mano 
vote = pd.read_excel(dir+'\\brut\\vote_mano.xlsx')

Merge

In [35]:
bases=[eco,dens,dipl,pol,vote,com,isf,prix]

In [36]:
import geopandas as gpd 
pop=gpd.read_file(r'C:\Users\morga\Documents\GitHub\MLPython\dataviz\Graphique_bokeh\pop_comgeo.geojson')
variables= pd.DataFrame(pop.insee)
variables.insee=variables.insee.astype(int)

TypeError: startswith first arg must be bytes or a tuple of bytes, not str

In [ ]:
pop.plot()

In [ ]:
for data in bases:
    variables=variables.merge(data,how='left',on='insee')

In [ ]:
variables.head()

In [ ]:
# SOucis avec les élections j'ai pas les correspondances !!

In [ ]:
variables.drop_duplicates( inplace = True)

In [ ]:
#variables.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
variables = variables.round(2)

In [ ]:
variables.to_csv('variables.csv')

Creation du CSV our la population slider

In [38]:
import geopandas as gpd 
pop=gpd.read_file(r'C:\Users\morga\Documents\GitHub\MLPython\dataviz\Graphique_bokeh\pop_comgeo.geojson')

TypeError: startswith first arg must be bytes or a tuple of bytes, not str

In [ ]:
pop=pop[['insee','year','population','pct_ch','steps']]

In [ ]:
pop.to_csv('population_csv.csv')

In [ ]:
pop[pop.insee=='78561']

Professionnels de Santé

In [173]:
med=pd.read_csv(dir+'\\brut\\annuaire-et-localisation-des-professionnels-de-sante.csv',sep=';')

med=med[["Nature de l'exercice","Convention du professionnel","Coordonnées",'Adresse','Code INSEE']]

med.columns=['nature_exercice','convention','coordonnees','adresse','insee']

In [174]:
# Ici interessant de mettre des marqueurs ? Je laisse comme ça => sinon compter 
count_med=med.groupby('insee',as_index=False)['coordonnees'].count()

In [175]:
med.dtypes

nature_exercice    object
convention         object
coordonnees        object
adresse            object
insee               int64
dtype: object

In [176]:
count_med.dtypes

insee          int64
coordonnees    int64
dtype: object

In [177]:
med.insee=med.insee.astype(int)

In [178]:
med.columns

Index(['nature_exercice', 'convention', 'coordonnees', 'adresse', 'insee'], dtype='object')

In [179]:
med=med[['nature_exercice','coordonnees','insee']]

In [180]:
med=med.merge(count_med,on='insee')

In [181]:
med.columns=['nature','coordonnees','insee','nombre']

In [182]:
new= med["coordonnees"].str.split(",", n = 1, expand = True)

In [183]:
med_data['lat'] = new[0]
med_data['lon'] = new[1]

In [184]:
med_data

,nature,coordonnees,insee,nombre,geometry,new,lat,lon
0,Libéral activité salariée,48.970077,95197,32,"POLYGON ((2.30969 48.97072, 2.30979 48.97119, ...",48.970077,48.829281,2.3568
1,Libéral intégral,48.970077,95197,32,"POLYGON ((2.30969 48.97072, 2.30979 48.97119, ...",48.970077,48.824815,2.357629
2,Libéral intégral,48.96271,95197,32,"POLYGON ((2.30969 48.97072, 2.30979 48.97119, ...",48.96271,48.883061,2.329228
3,Libéral intégral,48.96271,95197,32,"POLYGON ((2.30969 48.97072, 2.30979 48.97119, ...",48.96271,48.833789,2.308108
4,Libéral activité salariée,48.971396,95197,32,"POLYGON ((2.30969 48.97072, 2.30979 48.97119, ...",48.971396,48.853281,2.293727
...,...,...,...,...,...,...,...,...
7773,Libéral intégral,49.014456,77241,4,"POLYGON ((2.67922 49.01336, 2.68390 49.01933, ...",49.014456,48.857847,2.304228
7774,Libéral intégral,48.704353,91136,1,"POLYGON ((2.25880 48.70794, 2.25881 48.70836, ...",48.704353,48.854348,2.383557
7775,Libéral intégral,49.064301,77322,2,"POLYGON ((2.57098 49.06058, 2.57141 49.06093, ...",49.064301,48.844213,2.342242
7776,Libéral intégral,49.064414,77322,2,"POLYGON ((2.57098 49.06058, 2.57141 49.06093, ...",49.064414,48.865643,2.288865
7777,Libéral intégral,49.050302,77259,1,"POLYGON ((2.64263 49.04490, 2.64272 49.04625, ...",49.050302,48.851257,2.319338

In [153]:
def df_to_geojson(df, properties, lat='lat', lon='lon'):
    geojson = {'type':'FeatureCollection', 'features':[]}
    for _, row in df.iterrows():
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point',
                               'coordinates':[]}}
        feature['geometry']['coordinates'] = [row[lon],row[lat]]
        for prop in properties:
            feature['properties'][prop] = row[prop]
        geojson['features'].append(feature)
    return geojson

In [154]:
cols = ['insee','nombre','nature']
geojson = df_to_geojson(med_data, cols)

In [160]:
import json

with open('med_data.geojson', 'a') as f:
    json.dump(geojson, f)

In [77]:
#med_data.to_csv('med_data.csv')

In [86]:
med_data["coordonnees"]= med_data["coordonnees"].str.split(",", n = 2, expand = True)

In [85]:
med_data

,nature,coordonnees,insee,nombre,geometry
0,Libéral activité salariée,48.970077,95197,32,"POLYGON ((2.30969 48.97072, 2.30979 48.97119, ..."
1,Libéral intégral,48.970077,95197,32,"POLYGON ((2.30969 48.97072, 2.30979 48.97119, ..."
2,Libéral intégral,48.96271,95197,32,"POLYGON ((2.30969 48.97072, 2.30979 48.97119, ..."
3,Libéral intégral,48.96271,95197,32,"POLYGON ((2.30969 48.97072, 2.30979 48.97119, ..."
4,Libéral activité salariée,48.971396,95197,32,"POLYGON ((2.30969 48.97072, 2.30979 48.97119, ..."
...,...,...,...,...,...
7773,Libéral intégral,49.014456,77241,4,"POLYGON ((2.67922 49.01336, 2.68390 49.01933, ..."
7774,Libéral intégral,48.704353,91136,1,"POLYGON ((2.25880 48.70794, 2.25881 48.70836, ..."
7775,Libéral intégral,49.064301,77322,2,"POLYGON ((2.57098 49.06058, 2.57141 49.06093, ..."
7776,Libéral intégral,49.064414,77322,2,"POLYGON ((2.57098 49.06058, 2.57141 49.06093, ..."
7777,Libéral intégral,49.050302,77259,1,"POLYGON ((2.64263 49.04490, 2.64272 49.04625, ..."

In [185]:
import geopandas as gpd 
pop=gpd.read_file(r'C:\Users\morga\Documents\GitHub\MLPython\dataviz\Graphique_bokeh\pop_comgeo.geojson')

In [186]:
pop=pop[['insee','geometry']]

In [187]:
pop=pop.drop_duplicates()

In [188]:
pop.insee=pop.insee.astype(int)

In [192]:
med_merge=med_data[['nature','nombre','insee']]

In [193]:
med_merge = med_merge.merge(pop)

In [202]:
med_merge.columns

Index(['nature', 'nombre', 'insee', 'geometry'], dtype='object')

In [203]:
from geopandas import GeoDataFrame
med_merge = GeoDataFrame(med_merge, geometry=med_merge['geometry'])

In [207]:
med_merge.to_file("med_merge.geojson", driver='GeoJSON')

In [206]:
med_merge=med_merge[['insee','nombre','geometry']]

In [213]:
med_merge.nombre.max()

393

# Traffic (lié aux stations et non aux communes)

In [633]:
traffic=pd.read_csv(r'C:/Users/morga/Downloads/validations-sur-le-reseau-ferre-nombre-de-validations-par-jour-2e-sem.csv',sep=';')

In [647]:
pd.options.display.max_rows = 999

In [649]:
traffic[traffic['LIBELLE_ARRET']=='GARE DU NORD'].head(100)

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
320,2018-11-13,100,110.0,318.0,GARE DU NORD,71410,AMETHYSTE,563.0
2018,2018-11-13,800,853.0,308.0,GARE DU NORD,71410,TST,7139.0
2357,2018-11-20,800,853.0,308.0,GARE DU NORD,71410,AUTRE TITRE,5638.0
2359,2018-11-20,800,853.0,308.0,GARE DU NORD,71410,FGT,3092.0
2360,2018-11-20,800,853.0,308.0,GARE DU NORD,71410,NAVIGO,51266.0
2632,2018-11-12,800,853.0,308.0,GARE DU NORD,71410,NAVIGO,53878.0
3668,2018-12-06,100,110.0,318.0,GARE DU NORD,71410,NAVIGO,18062.0
5330,2018-11-10,800,853.0,308.0,GARE DU NORD,71410,AUTRE TITRE,1537.0
5941,2018-12-04,100,110.0,318.0,GARE DU NORD,71410,?,15.0
5943,2018-12-04,100,110.0,318.0,GARE DU NORD,71410,NAVIGO,17286.0
5945,2018-12-04,100,110.0,318.0,GARE DU NORD,71410,TST,1366.0
6268,2018-11-11,800,853.0,308.0,GARE DU NORD,71410,FGT,2488.0
6514,2018-11-16,100,110.0,318.0,GARE DU NORD,71410,AUTRE TITRE,678.0
6954,2018-11-16,100,110.0,318.0,GARE DU NORD,71410,IMAGINE R,2639.0
8603,2018-07-31,800,853.0,308.0,GARE DU NORD,71410,AMETHYSTE,1241.0
8606,2018-07-31,800,853.0,308.0,GARE DU NORD,71410,AUTRE TITRE,3880.0
8608,2018-07-31,800,853.0,308.0,GARE DU NORD,71410,IMAGINE R,4221.0
9116,2018-12-05,800,853.0,308.0,GARE DU NORD,71410,NAVIGO,50814.0
9333,2018-09-20,800,853.0,308.0,GARE DU NORD,71410,AUTRE TITRE,5179.0
9334,2018-09-20,800,853.0,308.0,GARE DU NORD,71410,NAVIGO,49571.0
9834,2018-12-06,800,853.0,308.0,GARE DU NORD,71410,IMAGINE R,6415.0
9836,2018-12-06,800,853.0,308.0,GARE DU NORD,71410,TST,6827.0
10457,2018-09-20,100,110.0,318.0,GARE DU NORD,71410,NAVIGO,17325.0
10740,2018-12-07,100,110.0,318.0,GARE DU NORD,71410,NAVIGO,18226.0
11077,2018-09-22,100,110.0,318.0,GARE DU NORD,71410,FGT,749.0
11090,2018-12-07,100,110.0,318.0,GARE DU NORD,71410,TST,1539.0
12123,2018-08-02,100,110.0,318.0,GARE DU NORD,71410,FGT,755.0
13289,2018-11-23,800,853.0,308.0,GARE DU NORD,71410,?,64.0
13537,2018-07-22,800,853.0,308.0,GARE DU NORD,71410,AMETHYSTE,1108.0
14251,2018-07-23,100,110.0,318.0,GARE DU NORD,71410,FGT,825.0
14637,2018-09-18,100,110.0,318.0,GARE DU NORD,71410,IMAGINE R,2051.0
14638,2018-09-18,100,110.0,318.0,GARE DU NORD,71410,NAVIGO,17255.0
15486,2018-11-19,100,110.0,318.0,GARE DU NORD,71410,IMAGINE R,950.0
15497,2018-07-23,800,853.0,308.0,GARE DU NORD,71410,AMETHYSTE,1171.0
15498,2018-07-23,800,853.0,308.0,GARE DU NORD,71410,FGT,4102.0
15499,2018-07-23,800,853.0,308.0,GARE DU NORD,71410,NAVIGO,45520.0
16468,2018-07-24,100,110.0,318.0,GARE DU NORD,71410,AUTRE TITRE,471.0
16470,2018-07-24,100,110.0,318.0,GARE DU NORD,71410,FGT,808.0
16472,2018-07-24,100,110.0,318.0,GARE DU NORD,71410,IMAGINE R,1519.0
16474,2018-07-24,100,110.0,318.0,GARE DU NORD,71410,NAVIGO,13916.0
16684,2018-11-19,800,853.0,308.0,GARE DU NORD,71410,?,55.0
16686,2018-11-19,800,853.0,308.0,GARE DU NORD,71410,AMETHYSTE,1095.0
16688,2018-11-19,800,853.0,308.0,GARE DU NORD,71410,TST,6659.0
16847,2018-07-26,800,853.0,308.0,GARE DU NORD,71410,AMETHYSTE,1151.0
16848,2018-07-26,800,853.0,308.0,GARE DU NORD,71410,AUTRE TITRE,4056.0
17622,2018-10-13,800,853.0,308.0,GARE DU NORD,71410,IMAGINE R,4186.0
17708,2018-07-27,100,110.0,318.0,GARE DU NORD,71410,AUTRE TITRE,600.0
18143,2018-11-20,100,110.0,318.0,GARE DU NORD,71410,?,5.0
18360,2018-10-12,800,853.0,308.0,GARE DU NORD,71410,NAVIGO,51126.0
19060,2018-07-27,800,853.0,308.0,GARE DU NORD,71410,NAVIGO,42584.0
20323,2018-07-28,800,853.0,308.0,GARE DU NORD,71410,?,35.0
20324,2018-07-28,800,853.0,308.0,GARE DU NORD,71410,FGT,3408.0
20988,2018-11-08,800,853.0,308.0,GARE DU NORD,71410,AMETHYSTE,1296.0
21780,2018-12-02,100,110.0,318.0,GARE DU NORD,71410,NAVIGO,3361.0
23005,2018-07-21,100,110.0,318.0,GARE DU NORD,71410,AUTRE TITRE,311.0
23007,2018-07-21,100,110.0,318.0,GARE DU NORD,71410,FGT,776.0
23009,2018-07-21,100,110.0,318.0,GARE DU NORD,71410,NAVIGO,8473.0
24186,2018-12-01,800,853.0,308.0,GARE DU NORD,71410,AMETHYSTE,1323.0
24189,2018-12-01,800,853.0,308.0,GARE DU NORD,71410,NAVIGO,24948.0
24703,2018-12-02,800,853.0,308.0,GARE DU NORD,71410,AMETHYSTE,889.0
24704,2018-12-02,800,853.0,308.0,GARE DU NORD,71410,NAVIGO,20836.0
25593,2018-12-01,100,110.0,318.0,GARE DU NORD,71410,IMAGINE R,1608.0
25595,2018-12-01,100,110.0,318.0,GARE DU NORD,71410,NON DEFINI,NaN
26726,2018-11-04,800,853.0,308.0,GARE DU NORD,71410,IMAGINE R,4515.0
27492,2018-11-14,800,853.0,308.0,GARE DU NORD,71410,?,38.0
27494,2018-11-14,800,853.0,308.0,GARE DU NORD,71410,AUTRE TITRE,5623.0
28269,2018-08-04,100,110.0,318.0,GARE DU NORD,71410,FGT,645.0
28504,2018-10-27,800,853.0,308.0,GARE DU NORD,71410,?,46.0
28506,2018-10-27,800,853.0,308.0,GARE DU NORD,71410,FGT,3282.0
29029,2018-07-29,100,110.0,318.0,GARE DU NORD,71410,NAVIGO,7633.0
29404,2018-09-12,800,853.0,308.0,GARE DU NORD,71410,?,37.0
29543,2018-10-31,800,853.0,308.0,GARE DU NORD,71410,AUTRE TITRE,4151.0
29545,2018-10-31,800,853.0,308.0,GARE DU NORD,71410,NAVIGO,49286.0
29548,2018-10-31,800,853.0,308.0,GARE DU NORD,71410,TST,6356.0
30369,2018-09-14,100,110.0,318.0,GARE DU NORD,71410,?,13.0
30372,2018-09-14,100,110.0,318.0,GARE DU NORD,71410,AMETHYSTE,451.0
30375,2018-09-14,100,110.0,318.0,GARE DU NORD,71410,NAVIGO,17448.0
30508,2018-07-29,800,853.0,308.0,GARE DU NORD,71410,FGT,2434.0
30509,2018-07-29,800,853.0,308.0,GARE DU NORD,71410,IMAGINE R,3081.0
30926,2018-11-01,100,110.0,318.0,GARE DU NORD,71410,AMETHYSTE,357.0
30928,2018-11-01,100,110.0,318.0,GARE DU NORD,71410,AUTRE TITRE,421.0
30930,2018-11-01,100,110.0,318.0,GARE DU NORD,71410,FGT,610.0
31442,2018-07-30,100,110.0,318.0,GARE DU NORD,71410,IMAGINE R,1484.0
32403,2018-09-08,100,110.0,318.0,GARE DU NORD,71410,FGT,725.0
32947,2018-10-25,800,853.0,308.0,GARE DU NORD,71410,?,27.0
32952,2018-10-25,800,853.0,308.0,GARE DU NORD,71410,AMETHYSTE,1281.0
32956,2018-10-25,800,853.0,308.0,GARE DU NORD,71410,AUTRE TITRE,4808.0
33265,2018-07-31,800,853.0,308.0,GARE DU NORD,71410,NAVIGO,38609.0
34926,2018-08-01,100,110.0,318.0,GARE DU NORD,71410,TST,1107.0
34949,2018-07-31,100,110.0,318.0,GARE DU NORD,71410,?,15.0
34954,2018-07-31,100,110.0,318.0,GARE DU NORD,71410,AMETHYSTE,342.0
34958,2018-07-31,100,110.0,318.0,GARE DU NORD,71410,IMAGINE R,1464.0
34961,2018-07-31,100,110.0,318.0,GARE DU NORD,71410,NAVIGO,13030.0
34964,2018-07-31,100,110.0,318.0,GARE DU NORD,71410,TST,1234.0
35981,2018-08-07,100,110.0,318.0,GARE DU NORD,71410,NAVIGO,11571.0
35982,2018-08-07,100,110.0,318.0,GARE DU NORD,71410,TST,1278.0
37233,2018-10-24,800,853.0,308.0,GARE DU NORD,71410,AMETHYSTE,1449.0
37236,2018-10-24,800,853.0,308.0,GARE DU NORD,71410,NAVIGO,52188.0
37792,2018-08-01,800,853.0,308.0,GARE DU NORD,71410,AUTRE TITRE,3886.0
37810,2018-08-06,100,110.0,318.0,GARE DU NORD,71410,NAVIGO,11788.0

In [641]:
traffic.groupby(['JOUR'],as_index=False).mean()

           JOUR  CODE_STIF_TRNS  CODE_STIF_RES  CODE_STIF_ARRET      NB_VALD
0    2018-07-01      487.476232     503.792208       485.398268   503.142292
1    2018-07-02      503.555055     521.127921       484.228987  1216.861603
2    2018-07-03      504.064622     521.583591       483.714698  1323.580691
3    2018-07-04      503.149917     520.715474       482.895799  1333.968861
4    2018-07-05      504.750051     522.499897       483.653822  1341.385650
..          ...             ...            ...              ...          ...
179  2018-12-27      493.062072     510.388854       482.142441   837.527874
180  2018-12-28      494.290622     511.450810       482.023077   879.479546
181  2018-12-29      487.996709     505.002060       480.192419   606.129288
182  2018-12-30      482.869348     499.573575       480.626383   473.238824
183  2018-12-31      491.605617     508.619038       483.613942   468.403933

[184 rows x 5 columns]

In [625]:
traffic=traffic[traffic['CODE_STIF_TRNS']==810]

CHAT = traffic[traffic['LIBELLE_ARRET'].str.startswith('CHAT')]

traffic=traffic[traffic['CODE_STIF_RES']==802]

traffic=traffic.append(CHAT)

traffic=traffic.groupby(['JOUR','LIBELLE_ARRET'],as_index=False)['NB_VALD'].sum()

traffic=traffic[['LIBELLE_ARRET','NB_VALD']]

traffic=traffic.groupby(['LIBELLE_ARRET'],as_index=False).mean()

In [626]:
liste_stations = list(traffic.LIBELLE_ARRET.unique()) + ['GARE DU NORD']

In [627]:
traffic=pd.read_csv(dir + 'brut\\validations-sur-le-reseau-ferre-nombre-de-validations-par-jour-2e-sem.csv',sep=';')

In [628]:
traffic=traffic[traffic['LIBELLE_ARRET'].isin(liste_stations)]

In [629]:
traffic=traffic.groupby(['JOUR','LIBELLE_ARRET'],as_index=False)['NB_VALD'].sum()

traffic=traffic[['LIBELLE_ARRET','NB_VALD']]

traffic=traffic.groupby(['LIBELLE_ARRET'],as_index=False).mean()

In [632]:
traffic

                       LIBELLE_ARRET       NB_VALD
0       AEROPORT CHARLES DE GAULLE 1   4751.359551
1   AEROPORT CHARLES DE GAULLE 2-TGV   6158.989071
2                             ANTONY  11292.179348
3                     ARCUEIL-CACHAN   8561.918478
4                   AULNAY-SOUS-BOIS  15838.554348
5                            BAGNEUX   5624.396739
6                       BLANC-MESNIL   3551.989011
7                     BOURG-LA-REINE  10464.875000
8                   BURES-SUR-YVETTE   1350.456522
9                CHATELET-LES HALLES  54721.494565
10                    CHATOU-CROISSY   5186.755435
11                CITE UNIVERSITAIRE  16885.853261
12              COURCELLE-SUR-YVETTE    567.214286
13                 DENFERT-ROCHEREAU  17593.385870
14                            DRANCY   7047.913043
15                 FONTAINE-MICHALON   1617.548913
16                FONTENAY-AUX-ROSES   2661.152174
17                      GARE DU NORD  76449.326087
18                          GENTILLY   5464.619565
19                    GIF-SUR-YVETTE   1359.266304
20        LA COURNEUVE-AUBERVILLIERS  11722.668478
21         LA CROIX-DE-BERNY-FRESNES   7856.554348
22                    LA HACQUINIERE    572.635870
23         LA PLAINE-STADE DE FRANCE  14532.706522
24                           LAPLACE   8434.119565
25                        LE BOURGET  10666.902174
26                        LE GUICHET   1695.706522
27                     LES BACONNETS   4432.175824
28                            LOZERE   1151.967391
29                        LUXEMBOURG  12565.005435
30                   MASSY-PALAISEAU  22462.826087
31                   MASSY-VERRIERES   1234.048913
32                       MITRY-CLAYE   2424.347826
33                       ORSAY-VILLE   3428.869565
34                         PALAISEAU   1579.603261
35                PALAISEAU-VILLEBON   1441.521739
36              PARC DES EXPOSITIONS   3891.549451
37                    PARC-DE-SCEAUX   1289.239130
38                        PORT ROYAL   7467.168478
39                          ROBINSON   4981.239130
40           SAINT-MICHEL NOTRE DAME  18866.548913
41          SAINT-REMY-LES-CHEVREUSE   1296.581921
42                            SCEAUX   1589.190217
43                 SEVRAN-BEAUDOTTES   8467.601124
44                      SEVRAN-LIVRY   4117.109290
45                       VERT-GALANT   5518.695652
46        VILLEPARISIS-MITRY-LE-NEUF   2825.579235
47                        VILLEPINTE   2540.784530

In [585]:
perc_traffic=pd.read_csv(dir +'\\brut\\validations-sur-le-reseau-ferre-profils-horaires-par-jour-type-2e-sem.csv',sep=';')

In [586]:
perc_traffic=perc_traffic[perc_traffic['LIBELLE_ARRET'].isin(liste_stations)]

In [587]:
perc_traffic=perc_traffic[perc_traffic['CAT_JOUR']=='JOHV']

In [588]:
perc_traffic=perc_traffic[['LIBELLE_ARRET','pourc_validations','TRNC_HORR_60']]

In [589]:
perc_traffic=perc_traffic.groupby(['LIBELLE_ARRET','TRNC_HORR_60'],as_index=False)['pourc_validations'].mean()

In [590]:
traffic_par_heure=perc_traffic.merge(traffic,how='left')

In [591]:
traffic_par_heure=traffic_par_heure.assign(NB_VALD_HOUR=traffic_par_heure.pourc_validations*traffic_par_heure.NB_VALD)

In [592]:
traffic_par_heure.to_csv('traffic_par_heure.csv')

In [593]:
traffic_par_heure=pd.read_csv('traffic_par_heure.csv')

In [594]:
list(traffic_par_heure.LIBELLE_ARRET.unique())

['AEROPORT CHARLES DE GAULLE 1',
 'AEROPORT CHARLES DE GAULLE 2-TGV',
 'ANTONY',
 'ARCUEIL-CACHAN',
 'AULNAY-SOUS-BOIS',
 'BAGNEUX',
 'BLANC-MESNIL',
 'BOURG-LA-REINE',
 'BURES-SUR-YVETTE',
 'CHATELET-LES HALLES',
 'CHATOU-CROISSY',
 'CITE UNIVERSITAIRE',
 'COURCELLE-SUR-YVETTE',
 'DENFERT-ROCHEREAU',
 'DRANCY',
 'FONTAINE-MICHALON',
 'FONTENAY-AUX-ROSES',
 'GARE DU NORD',
 'GENTILLY',
 'GIF-SUR-YVETTE',
 'LA COURNEUVE-AUBERVILLIERS',
 'LA CROIX-DE-BERNY-FRESNES',
 'LA HACQUINIERE',
 'LA PLAINE-STADE DE FRANCE',
 'LAPLACE',
 'LE BOURGET',
 'LE GUICHET',
 'LES BACONNETS',
 'LOZERE',
 'LUXEMBOURG',
 'MASSY-PALAISEAU',
 'MASSY-VERRIERES',
 'MITRY-CLAYE',
 'ORSAY-VILLE',
 'PALAISEAU',
 'PALAISEAU-VILLEBON',
 'PARC DES EXPOSITIONS',
 'PARC-DE-SCEAUX',
 'PORT ROYAL',
 'ROBINSON',
 'SAINT-MICHEL NOTRE DAME',
 'SAINT-REMY-LES-CHEVREUSE',
 'SCEAUX',
 'SEVRAN-BEAUDOTTES',
 'SEVRAN-LIVRY',
 'VERT-GALANT',
 'VILLEPARISIS-MITRY-LE-NEUF',
 'VILLEPINTE']

In [595]:
traffic_par_heure['LIBELLE_ARRET']= traffic_par_heure['LIBELLE_ARRET'].str.replace('SAINT-MICHEL NOTRE DAME', 'SAINT-MICHEL', regex=True)

In [596]:
traffic_par_heure.to_csv('traffic_par_heure.csv')

In [597]:
import geopandas as gpd 
stations=gpd.read_file(r'C:\Users\morga\Documents\GitHub\MLPython\dataviz\Graphique_bokeh\stations.geojson')

In [598]:
list(stations.nom_long.unique())

['MASSY-PALAISEAU',
 'SAINT-REMY-LES-CHEVREUSE',
 'GIF-SUR-YVETTE',
 'BURES-SUR-YVETTE',
 'PORT ROYAL',
 'LA CROIX-DE-BERNY-FRESNES',
 'GENTILLY',
 'LAPLACE',
 'LA HACQUINIERE',
 'BOURG-LA-REINE',
 'PARC-DE-SCEAUX',
 'BAGNEUX',
 'MASSY-VERRIERES',
 'FONTAINE-MICHALON',
 'LES BACONNETS',
 'PALAISEAU-VILLEBON',
 'LOZERE',
 'ARCUEIL-CACHAN',
 'ANTONY',
 'ORSAY-VILLE',
 'PALAISEAU',
 'LE GUICHET',
 'COURCELLE-SUR-YVETTE',
 'DENFERT-ROCHEREAU',
 'CITE UNIVERSITAIRE',
 'SAINT-MICHEL',
 'LUXEMBOURG',
 'CHATELET-LES HALLES',
 'LA PLAINE-STADE DE FRANCE',
 'DRANCY',
 'BLANC-MESNIL',
 'PARC DES EXPOSITIONS',
 'ROBINSON',
 'SCEAUX',
 'GARE DU NORD',
 'MITRY-CLAYE',
 'VILLEPARISIS-MITRY-LE-NEUF',
 'LA COURNEUVE-AUBERVILLIERS',
 'VERT-GALANT',
 'AEROPORT CHARLES DE GAULLE 2-TGV',
 'AULNAY-SOUS-BOIS',
 'FONTENAY-AUX-ROSES',
 'AEROPORT CHARLES DE GAULLE 1',
 'LE BOURGET',
 'SEVRAN-BEAUDOTTES',
 'VILLEPINTE',
 'SEVRAN-LIVRY']

In [599]:
stations=stations.merge(traffic_par_heure,left_on='nom_long',right_on='LIBELLE_ARRET',how='right')

In [600]:
stations=stations[stations['year']==2017]

In [601]:
stations=stations[['LIBELLE_ARRET','TRNC_HORR_60','NB_VALD_HOUR','pourc_validations','geometry']]

In [602]:
stations=stations.dropna()

In [603]:
stations=stations.drop_duplicates()

In [604]:
stations

,LIBELLE_ARRET,TRNC_HORR_60,NB_VALD_HOUR,pourc_validations,geometry
8,MASSY-PALAISEAU,0H-1H,2470.910870,0.110,POINT (2.25828 48.72469)
17,MASSY-PALAISEAU,10H-11H,65479.138043,2.915,POINT (2.25828 48.72469)
26,MASSY-PALAISEAU,11H-12H,63345.169565,2.820,POINT (2.25828 48.72469)
35,MASSY-PALAISEAU,12H-13H,76148.980435,3.390,POINT (2.25828 48.72469)
44,MASSY-PALAISEAU,13H-14H,80753.859783,3.595,POINT (2.25828 48.72469)
...,...,...,...,...,...
7913,SEVRAN-LIVRY,5H-6H,49446.482568,12.010,POINT (2.53471 48.93628)
7918,SEVRAN-LIVRY,6H-7H,59039.347213,14.340,POINT (2.53471 48.93628)
7923,SEVRAN-LIVRY,7H-8H,51463.866120,12.500,POINT (2.53471 48.93628)
7928,SEVRAN-LIVRY,8H-9H,44588.293607,10.830,POINT (2.53471 48.93628)
7933,SEVRAN-LIVRY,9H-10H,21244.283934,5.160,POINT (2.53471 48.93628)

In [605]:
new=stations.TRNC_HORR_60.str.split("H", n = 1, expand = True)

In [606]:
stations['heure']=new[0]

In [607]:
stations=stations[['LIBELLE_ARRET','NB_VALD_HOUR','pourc_validations','heure','geometry']]

In [608]:
stations

,LIBELLE_ARRET,NB_VALD_HOUR,pourc_validations,heure,geometry
8,MASSY-PALAISEAU,2470.910870,0.110,0,POINT (2.25828 48.72469)
17,MASSY-PALAISEAU,65479.138043,2.915,10,POINT (2.25828 48.72469)
26,MASSY-PALAISEAU,63345.169565,2.820,11,POINT (2.25828 48.72469)
35,MASSY-PALAISEAU,76148.980435,3.390,12,POINT (2.25828 48.72469)
44,MASSY-PALAISEAU,80753.859783,3.595,13,POINT (2.25828 48.72469)
...,...,...,...,...,...
7913,SEVRAN-LIVRY,49446.482568,12.010,5,POINT (2.53471 48.93628)
7918,SEVRAN-LIVRY,59039.347213,14.340,6,POINT (2.53471 48.93628)
7923,SEVRAN-LIVRY,51463.866120,12.500,7,POINT (2.53471 48.93628)
7928,SEVRAN-LIVRY,44588.293607,10.830,8,POINT (2.53471 48.93628)
7933,SEVRAN-LIVRY,21244.283934,5.160,9,POINT (2.53471 48.93628)

In [609]:
stations['heure']=stations.heure.astype(int)

C:\Users\morga\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [611]:
for i in list(stations.heure.unique()):
    stations_heure=stations[stations['heure']==i]
    stations_heure.to_file("stations"+str(i)+".geojson", driver='GeoJSON')

In [620]:
stations10[stations10['LIBELLE_ARRET']=='GARE DU NORD']

,LIBELLE_ARRET,NB_VALD_HOUR,pourc_validations,heure,geometry
6393,GARE DU NORD,272924.09413,3.57,10,POINT (2.35633 48.88092)

In [623]:
stations5[stations5['LIBELLE_ARRET']=='GARE DU NORD']

,LIBELLE_ARRET,NB_VALD_HOUR,pourc_validations,heure,geometry
6483,GARE DU NORD,239668.637283,3.135,5,POINT (2.35633 48.88092)

Cartes pour visualiser le résultat

In [39]:
import geopandas as gpd 
pop=gpd.read_file(r'C:\Users\morga\Documents\GitHub\MLPython\dataviz\Graphique_bokeh\pop_comgeo.geojson',encoding='utf-8')
pop.insee=pop.insee.astype(int)
data_map=variables.merge(pop,on='insee')

TypeError: startswith first arg must be bytes or a tuple of bytes, not str

In [ ]:
data_map.columns

In [ ]:
import mapclassify
import geoplot
import matplotlib.pyplot as plt 
data_map=data_map.set_geometry('geometry')

In [ ]:
scheme = mapclassify.Quantiles(data_map.TauxChomage, k=10)
geoplot.choropleth(
    data_map, hue=data_map.TauxChomage, scheme=scheme,
    cmap='OrRd', figsize=(10, 5),legend=True
)
plt.title('Taux de chômage')

In [ ]:
scheme = mapclassify.Quantiles(data_map.TauxProprietaires, k=10)
geoplot.choropleth(
    data_map, hue=data_map.TauxProprietaires, scheme=scheme,
    cmap='OrRd', figsize=(10, 5),legend=True
)
plt.title('Taux de propriétaires')

In [ ]:
scheme = mapclassify.Quantiles(data_map.pm10, k=10)
geoplot.choropleth(
    data_map, hue=data_map.pm10, scheme=scheme,
    cmap='OrRd', figsize=(10, 5),legend=True
)
plt.title('Taux pollution pm10')

In [ ]:
scheme = mapclassify.Quantiles(data_map.dipl_su_tx, k=10)
geoplot.choropleth(
    data_map, hue=data_map.dipl_su_tx, scheme=scheme,
    cmap='OrRd', figsize=(10, 5),legend=True
)
plt.title('dipl_su_tx')

In [ ]:

geoplot.choropleth(
    data_map, hue=data_map.Tour1Candidat1,
    cmap='OrRd', figsize=(10, 5),legend=True
)
plt.title('vote_politique')